h1 {
	font-family:'Times New Roman', Times, serif;
	font-size:50px;
	color:white
}

h2 {
	font-family:Helvetica;
	font-size:26pt;
	color:#333333
}

div {
	background-color:#C2D1B0
}

p {
	font-family:Helvetica;
	font-size:12px;
	color:#333333
}

ul { 
	font-family:Helvetica;
	font-size:12px;
	color:#333333
}

ol {
	font-family:Helvetica;
	font-size:12px;
	color:#333333
}

a {
	color: #A23B3B;
}

#p1 {
	text-align: center;
}

#p2 {
	text-align: center;
}

#p3 {
	text-align: center;
}

#p4 {
	text-align: center;
}

body {background-color: #E6D3B3;}

#head { height:440px; width:500px;}