.title {

    font-family: 'Calibri';
    font-size: 18px;
    color: darkblue;
    text-align: center;
}

#clothes {

    width: 300px;
    height: 200px;

}

#list {

    font-family: 'Calibri';
    font-size: 12px;
    color: white;
}

#sectionOne {

    background-color: lightblue;
} 

#sectionTwo {

    background-color: white;
}

#Video {

    width: 300px;
    height: 240px;
}